{% extends 'store/index.html' %}
{% block title %}
    <title>Store</title>
{% endblock %}
{% block content %}
    <h3>You wanna buy this account? </h3>
    <h4>Price:45</h4>
    <ul>Games:
        <li>Starcraf2</li>
        <li>Hearthstone</li>

    </ul>




    <form class="form-inline" method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
            <h5>Current bit: {{ object.bid }}</h5>

        </div>


        <div class="form-group mx-sm-3 mb-2">

            {{ form.as_p }}

        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm</button>
    </form>


{% endblock %}