<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static  'bootstrap/css/style.css' %}">
    {% block title %}
        <title>Store</title>
    {% endblock %}

</head>
<body>


<div>
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'store:index' %}"> <img src="{% static 'img/PSN-logo.jpg' %} "
                                                                     width="40px " height="30px"> </a>

        <ul class="nav navbar-nav  ml-auto">
            {% if user.is_authenticated %}
     





                <li>Balance: {{ user.money.coins }} $</li>
                <li class="nav-item active"><a href="{% url 'store:user_detail' pk=user.id %}">
                    Welcome, {{ user }}   </a></li>


                <a href="{% url 'auth:logout' %}"> <img src="{% static 'png/account-logout-2x.png' %}"
                ></a>

            {% else %}
                <li class="nav-item active">

                    <a class="nav-link" href="{% url 'auth:login' %}">log in </a>

                </li>
                <a class="nav-link" href="{% url 'auth:signup' %}">or sign up </a>
            {% endif %}

        </ul>

    </nav>

</div>
{% block content %}



    <form method="get">


        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Platform</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>PS4</option>
                <option>XboX one</option>
                <option>PC</option>

            </select>

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>

    </form>



        <div class="card border-secondary  mb-3" style="max-width: 18rem;">
            <div class="card-header" href="1">Battle net</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Games:</h5>
                <ul>
                    <li>Starcraft 2</li>
                    <li>WoW</li>
                </ul>
                <a href="2" class="btn btn-primary"> Buy</a>
            </div>

        </div>


    <br>
    <h3 class="mr-4">Buyer protection</h3>

    {% if messages %}

        {% for message in messages %}
            <h3 class="alert-success success">{{ message }}</h3>

        {% endfor %}
    {% endif %}

{% endblock %}

<script src="{% static  'js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>