<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}
        <title>Store</title>
    {% endblock %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
</head>

<body>

<header>

    <nav class="navbar  navbar-dark bg-primary">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'store:index' %}" class="navbar-brand d-flex align-items-center">

                <strong>Store</strong>
            </a>
            {% if user.is_authenticated %}



                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome, {{ user }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href=" {% url 'store:money_detail' pk=user.id %}">
                            Balance: {{ user.money.coins }} $ </a>
                        <a class="dropdown-item" href="{% url 'auth:rename' pk=user.id %}">Change your data</a>
                        <a class="dropdown-item" href="{% url 'store:create_ad' pk=user.id %}">Create
                            advertisement</a>
                         <a class="dropdown-item" href="{% url 'store:user_ads' pk=user.id %}">My advertisements

                         </a>

                        <a class="dropdown-item" href="{% url 'auth:logout' %}">Logout</a>
                    </div>
                </div>

            {% else %}

                <a class="nav-link" href="{% url 'auth:login' %}">Log in </a>

                <a class="nav-link" href="{% url 'auth:signup' %}"> Sign up </a>
            {% endif %}
        </div>
    </nav>
</header>
{% block content %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Platforms</h1>
                <p class="lead text-muted">

                </p>
                <p>
                    <a href="#" class="btn btn-secondary my-2">Steam</a>
                    <a href="#" class="btn btn-secondary my-2">Origin</a>
                    <a href="#" class="btn btn-secondary my-2">Uplay</a>
                    <a href="#" class="btn btn-secondary my-2">Battlenet</a>
                </p>
            </div>
        </section>
        {% for object in object_list %}
            <div class="card-group">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">

                        <div class="card-body">

                            <ul class="list-group">
                                <li class="list-group-item">Description: {{ object.description }}</li>
                                <li class="list-group-item">price: {{ object.price }}</li>
                                <li class="list-group-item">platform: {{ object.platform }}</li>
                                <li class="list-group-item">Games: {{ object.games }}</li>

                            </ul>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                    <a href="{% url 'store:detail' pk=object.id %}">Buy</a>
                                </div>
                                <small class="text-muted">{{ object.date_of_creation }}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">

        </div>
    </footer>

    </body>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>