<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static  'bootstrap/css/style.css' %}">
    <title>Title</title>
</head>
<body>


<div>
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <img src="{% static 'img/PSN-logo.jpg' %} " width="40px " height="30px"
                                               href="{% url 'store:index' %}"> </a>

        <ul class="nav navbar-nav  ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">sign in</a>
            </li>
        </ul>

    </nav>

</div>
{% block content %}


<div>

    <div class="dropdown">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Platform
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">PS4</a>
            <a class="dropdown-item" href="#">x-box</a>
            <a class="dropdown-item" href="#">PC peasant </a>
        </div>
    </div>


</div>

<div>

    <div class="card border-secondary  mb-3" style="max-width: 18rem;">
        <div class="card-header" href="1">Battle net</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Games:</h5>
            <ul>
                <li>Starcraft 2</li>
                <li>WoW</li>
            </ul>
            <a href="2" class="btn btn-primary"> Buy</a>
        </div>

    </div>
</div>

<br>
<h3 class="mr-4">Buyer protection</h3>


{% endblock %}

<script src="{% static  'js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>