{% extends 'store/index.html' %}
{% block title %}
    <title>Sign in</title>
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <ul class="list-group-item ">{{ form.as_ul }}</ul>
        <button class="btn btn-lg btn-primary " type="submit">Sign in</button>

    </form>
{% endblock %}




<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


</head>

<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

</form>
</body>
</html>
